.grid {
  display: grid;
  position: relative;
  grid-template-rows: 300px 100px;
  grid-template-columns: auto 500px 150px 200px auto;
  grid-template-areas:
    ". canvas part-right settings ."
    ". part-down . settings .";
}

.grid>.canvas{
  grid-area: canvas;
  position: relative;
}

.dot {
  height: 5px;
  width: 5px;
  background-color: #0000FF;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}

.grid>div:last-child{
  grid-area: settings;
}

.grid h3{
  margin-bottom: 5px;
}

.grid>.part-down{
  position:relative;
  grid-area:part-down;
}

.grid>.part-right{
  position:relative;
  grid-area:part-right;
}

#currentDate, #currentAverage, #currentPrice{
  position: absolute;
}

#currentDate,#currentPrice{
  color:#0000FF;
}

#currentAverage{
  color:#00FF00;
}

 #currentPrice{
   height:max-content;
 }

#currentDate>div{
  width:max-content;
}

form>div{
  margin-bottom: 5px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

form>div>span{
  color:#FF0000;
}

#settings-message{
  color:#FF0000;
}

label{
  display: block;
}
